---
layout: default
title: "My Portfolio"
---

<div id="home">
    <h1>My Projects</h1>
    {% for category in site.categories %}
    <h2>Videogames</h2>
    <ul>
        {% for post in category[1] %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <h2>AI Projects</h2>
    <ul>
        {% for post in category[2] %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>

<!--
    <h1>My Projects</h1>
    <ul class="posts">
        {% for post in site.posts %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    <h1>AI Projects</h1>
    <ul class="posts">
        {% for post in site.projects %}
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

-->
